$white: #fff;
$grey: #3c464d; // page font main color
$light-grey: #e1e5ea;
$black: black;
$red: red;
$yellow: yellow;
$warning-color: #fdca75;
$green: green;

$blue: blue;
$blue500: #29b2fc;
$blue600: #26a9f0;
$blue900: #26a9f0;

$basic-bg: #fafafa;
$subpage-crumb-arrow: #aeb0b9;
$detail-table-header: #eceff2;
$detail-table-gray: #F9F9F9;

$black003: rgba(0, 0, 0, 0.03); // panel header and some border
$black054: rgba(0, 0, 0, 0.54);

/*table*/
$thead-bordder-color: #d4e9ff;
$thead-font-color: #3c464d;
$row-odd: #f4f9ff;
$active-row: #d4e9ff;
/*check-status*/
$status-active-color: #26a9f0;
$status-warning-color: #fdca75;
$status-error-color: #ee2e33;
$status-none-color: #9098a1;

/*input */
$active-input-blue: #26a9f0;

/*topo */
$count-color: #9098a1;
$setting-bar-color: rgba(67, 158, 252, 0.15);
$setting-icon-color: #26a9f0;
$setting-bar-position: 81px;
$topo-node-fill: #2083ea;
$topo-node-stroke: #f8f8f8;
$topo-text-tag-fill: #4422ff;
$topo-text-basic-fill: #546e7a;
$topo-green: #1cb954;
$topo-basic-link-color: #dceedc;
$topo-down-link-color: #e3e3e3;

$topo-red: #ee2e33;
$topo-green: #1cb954;
$topo-yellow: #fdaf43;
$topo-disabled: #c0c7ce;
$topo-normal-node: #87c2ff;
$topo-pn-node: #ced1d4;
/*topo segment colors */
$topo-sel-color: #26a9f0;
$topo-select-link-color: #c9edc9;
$topo-select-stroke-color: #c9edc9;

/*topo setting colors */
$topo-setting-prime-color: #26a9f0;
$topo-setting-font-color: #3c464d;
$topo-setting-border-color: #e1e5ea;
$topo-setting-slider-bg: #595b69;
$topo-setting-green: #1cb954;
$topo-setting-orange: #fdaf43;
$topo-setting-red: #ee2e33;

/*sr policy running detail setting colors */
$shadow: #efefef;
$border: #eee;

$in: #3bbaca;
$out: #fe893b;
$normal-color: #3c464d;
$basic-bg: #fafafa;
$border-color: #e1e5ea;

$collpase-panel-theme-color: #d5eaff;
$collpase-panel-hover-color: #82c0ff;

/*tree*/
$node-focused: rgb(221, 237, 254);