$bgpath: "/assets/images/bg.jpg";
$logopath: "/assets/images/logo.png";
$userPhoto: "/assets/images/user.png";
$downward: "/assets/images/downward.svg";
$upward: "/assets/images/upward.svg";

$basicInfo: "/assets/images/basic_info.svg";
$cpath: "/assets/images/c_path.svg";
$flowInfo: "/assets/images/flow_info.svg";
$policyCondition: "/assets/images/policy_condition.svg";
$policyDetail: "/assets/images/policy_detail.svg";
$policyInfo: "/assets/images/policy_info.svg";
$topoInfo: "/assets/images/topo_info.svg";
$page500: "/assets/images/500.png";
$page404: "/assets/images/404.png";

$noTopo: "/assets/images/no-topo.png";
$topo-set-icon: "/assets/images/topo_set_icon.svg";
$topo-refresh-icon-blue: "/assets/images/topo_refresh_blue.svg";
$topo-auto-alyout-icon: "/assets/images/topo_layout.svg";
$topo-save-icon: "/assets/images/topo_save.svg";
$topo-default-view-icon: "/assets/images/topo_default_view.svg";
$topo-setting-icon: "/assets/images/topo_setting_icon.svg";
$topo-region-icon-on: "/assets/images/topo_device.svg";
$topo-region-icon-off: "/assets/images/topo_region_on.svg";
$topoDoubleArrowLeft: "/assets/images/topo_double_arrow_left.svg";
$topoDoubleArrowRight: "/assets/images/topo_double_arrow_right.svg";
$topoCloud: "/assets/images/topo_cloud.svg";
$bmpTopoRR: "/assets/images/bmp_topo_router_rr.png";
$bmpTopoPE: "/assets/images/bmp_topo_router_pe.png";
$topoCloudHover: "/assets/images/topo_cloud_hover.svg";
$filterImg: "/assets/images/select_filter.svg";
$filterBlueImg: "/assets/images/select_filter_blue.svg";

$navLogo: "/assets/images/nav_logo.png";
$navBg: "/assets/images/nav.png";