$border-color:#e5e5e6;
.block-div {
  font-size: 13px;
  padding: 10px;
}

.block-title {
  padding-left: 15px;
  font-size: 14px;
  font-weight: 600;
  display: block;
  width: 100%;
  background: rgb(234, 238, 239);
  height: 38px;
  line-height: 38px;
  color: #26a9f0;
  &.bordered {
    border-top: $border-color 1px solid;
    border-left: $border-color 1px solid;
    border-right: $border-color 1px solid;
  }
  
}

.block-content {
  padding: 10px;
  &.bordered {
   border-left: $border-color 1px solid;
   border-right: $border-color 1px solid;
   border-bottom: $border-color 1px solid;


  }
}