@font-face {
  font-family: Roboto;
  src: url(../assets/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(../assets/iconfont/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(../assets/iconfont/MaterialIcons-Regular.woff2) format("woff2"),
    url(../assets/iconfont/MaterialIcons-Regular.woff) format("woff"),
    url(../assets/iconfont/MaterialIcons-Regular.ttf) format("truetype");
}
